<div class="container" fxLayout="column" fxLayoutGap="10px">

  <div fxFlex *ngIf="repoList">
    <mat-grid-list cols="2" rowHeight="250px">
      <mat-grid-tile *ngFor="let repo of repoList">
        <mat-card fxFlex="80">
          <h1 mat-card-title>{{ repo.name | uppercase }}</h1>
          <p mat-line mat-card-content>{{ repo.description }}</p>
          <p mat-line>{{ repo.language }}</p>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

  <div [hidden]="repoList">
    <mat-spinner></mat-spinner>
    <h4>Loading. . . </h4>
  </div>

</div>